# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
spring-security-example.iml

.idea

### macOS template
# General
.DS_Store
!/.gitignore
